# data
*.txt
*.json
*.csv
*.xml
data/*
*.npy
*.dcm
*.pickle
output/
mlruns/
*.kml
*.vrt
*.pkg
*.zip
*.tif
model_data/

# images
*.png
*.jpg
*.jpeg
*.gif
*.svg

# OS
.DS_Store

# settings
.env
.idea

# cache
__pycache__/
*.egg-info/

# outputs
notebooks/ariel/outputs_adc24_intro

# debug
.*.py
